@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;

    }

    .main {
        &__header {
            height: 735px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 33px;

            &-title {
                padding: 0;
                font-size: 32px;
            }

            &-text {
                padding: 0;
                font-size: 14px;
                line-height: 22px;

                br {
                    display: none;
                }
            }
        }
    }

    .middle {
        &__box {
            flex-direction: column;

            &-img {
                width: 100%;
            }
        }
    }

    .span{
        display: none;
    }

    .top__block{
       display: flex;
       align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 127px;
    }

    .season{
      padding-top: 0;
      align-items: center;
      &__box{
        &-title{
            font-size: 32px;
        }
        &-text{
            font-size: 14px;
            line-height: 22px;
            width: 343px;
        }
    }
    }

    .advertisement{
     padding-top: 0;
        &__picture{
           display: none;
        }
        &__picture-mobile{
            display: block;
            padding-top: 64px;
        }
    }
}
